*{
	font-family: 'Noto Sans', sans-serif;
	color:black;
}

.nav{
	width:60%;
	text-align:center;
	margin-top:4%;
	margin-left:auto;
	margin-right:auto;
}

.nav .links{
	display:inline-block;
	margin-top:0;
	margin-bottom:1.5%;
}

#bg-panel-left{
	background-image: url(../imgs/wander.jpeg);
	background-size: 100% 100%;
	height:100%;
	width:50%;
	position:absolute;
	top:0;
	left:0;
}

#bg-panel-right{
	background-image: url(../imgs/lush.jpg);
	background-size: 100% 100%;
	position:absolute;
	height:100%;
	width:50%;
	right:0;
	top:0;
}

#right-panel{
	position:absolute;
	height:100%;
	width:50%;
	right:0;
	top:0;
}

#left-panel{
	position:absolute;
	height:100%;
	width:50%;
	top:0;
	left:0;
}


.centered{
	vertical-align: middle;
}
#intro{
	position: relative;
	top:60%;
	width:65%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#name{
	letter-spacing: 1px;
	margin-bottom:0;
}

ul{
	padding:0;
}
a{
	text-decoration: none;
}
a:hover{
	color:rgb(219,112,23);
}

.main-links{
	margin-bottom:1.5rem;
}

.main-links li, .icon{
	display:inline;
}

.main-links li, .main-links li a{
	text-decoration: none;
	margin:5px;
}

.nav .links{
	list-style-type:none;
}

.icon-link{
	display:inline;
	padding-right:.8rem;
}

.icon-link a img{
	height:32px;
}

.icon-link a img:hover{
	opacity:.7;
}


.footer{
	position:absolute;
	width:100%;
	bottom: 0;
	text-align: center;
	padding-bottom: 3.5%;
	font-size: .8rem;
}